absl-py==0.13.0
ansicon==1.89.0
astunparse==1.6.3
attrs==21.2.0
blessed==1.18.1
cachetools==4.2.2
certifi==2021.10.8
click-log==0.3.2
enlighten==1.10.1
flatbuffers==1.12
gast==0.4.0
google-auth==1.31.0
google-auth-oauthlib==0.4.4
greenlet==1.1.1
grpcio==1.34.1
h5py==3.1.0
humanfriendly==9.2
imbalanced-learn==0.8.0
imblearn==0.0
Jinja2==3.0.1
jinxed==1.1.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
Markdown==3.3.4
opt-einsum==3.3.0
pathy==0.6.0
pbr==5.6.0
pmdarima==1.8.2
prefixed==0.3.2
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyLDAvis==3.3.1
pyrsistent==0.18.0
rsa==4.7.2
six==1.16.0
smart-open==5.2.1
soupsieve==2.2.1
spacy==3.1.2
SQLAlchemy==1.4.23
striprtf==0.0.13
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
thinc==8.0.10
tqdm==4.62.2
treelib==1.6.1
typing-extensions==3.10.0.2
wincertstore==0.2
wrapt==1.12.1
